<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.madprojectx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.UpReviewActivity"></activity>
        <activity android:name=".view.UpdateActivity" />
        <activity
            android:name=".view.AddReviewsActivity"
            android:label="@string/c_title_reviews_add"
            android:parentActivityName=".view.ReviewsActivity" />
        <activity
            android:name=".view.ReviewsActivity"
            android:label="@string/c_title_reviews_main"
            android:parentActivityName=".view.PropertyActivity" />
        <activity
            android:name=".view.PaymentActivity"
            android:label="@string/c_title_payment"
            android:parentActivityName=".view.BookingActivity" />
        <activity
            android:name=".view.BookingActivity"
            android:label="@string/c_title_conbooking"
            android:parentActivityName=".view.PropertyActivity" />
        <activity
            android:name=".view.EditUserActivity"
            android:label="@string/c_title_settings"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.MySavedActivity"
            android:label="@string/c_title_saved"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.MyReviewsActivity"
            android:label="@string/c_title_reviews"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.MyBookingsActivity"
            android:label="@string/c_title_bookings"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.MyPropertiesActivity"
            android:label="@string/c_title_mprop"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.EditPropertyActivity"
            android:label="@string/c_title_aprop"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.RegisterActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.WelcomeActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.PropertyActivity"
            android:label="Y"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>