<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.madprojectx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AddReviewsActivity"
            android:label="@string/c_title_reviews_add"
            android:parentActivityName=".ReviewsActivity"></activity>
        <activity
            android:name=".ReviewsActivity"
            android:label="@string/c_title_reviews_main"
            android:parentActivityName=".PropertyActivity" />
        <activity
            android:name=".PaymentActivity"
            android:label="@string/c_title_payment"
            android:parentActivityName=".BookingActivity" />
        <activity
            android:name=".BookingActivity"
            android:label="@string/c_title_conbooking"
            android:parentActivityName=".PropertyActivity" />
        <activity
            android:name=".EditUserActivity"
            android:label="@string/c_title_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MySavedActivity"
            android:label="@string/c_title_saved"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyReviewsActivity"
            android:label="@string/c_title_reviews"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyBookingsActivity"
            android:label="@string/c_title_bookings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyPropertiesActivity"
            android:label="@string/c_title_mprop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditPropertyActivity"
            android:label="@string/c_title_aprop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PropertyActivity"
            android:label="Y"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>